* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  font-family: Roboto, Arial, sans-serif;
}

h2 {
  font-family: sans-serif;
  padding-top: 64px;
}

p {
  line-height: 24px;
  margin: 20px 0px;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  color: #5f6368;
  text-decoration: none;
  margin-right: 40px;
  padding-bottom: 6px;
}

img {
  height: 50px;
}

ul {
  display: flex;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.active {
  color: #3367d6;
  border-bottom: 3px solid #3367d6;
}

.logo-text {
  font-size: 22px;
  padding: 10px;
}

.nav-menu {
  border-bottom: 1px solid lightgrey;
  padding: 8px 20px;
}
